@import "./node_modules/bootstrap/scss/bootstrap.scss";

body {
    background-color: rgb(233, 208, 150);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

#joke {
    background-color: white;
}